.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-container label {
    color: var(--text-body);
    font-size: var(--text-sm);
    font-weight: var(--weight-700);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-container input, .input-container textarea {
    border: 1px solid var(--input-border);
    border-radius: var(--radius-default);
    padding: 16px 8px;
    font-size: var(--text-base);
    color: var(--text-body);
    background-color: var(--brand-bg-subtle);
}

.input-container input::placeholder, .input-container textarea::placeholder {
    color: var(--input-placeholder);
    font-size: var(--text-base);
    font-weight: var(--weight-400);
}

.input-container textarea {
    min-height: 122px;
}