.contato {
    background-color: var(--brand-bg-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.contato-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    text-align: left;
    color: var(--text-on-primary);
    background-color: var(--brand-primary);
    padding: 48px;
    border-radius: var(--radius-default);
    width: 50%;
}

.contato-info>h2 {
    font-size: var(--text-2xl);
    font-weight: var(--weight-700);
}

.contato-info>p {
    font-size: var(--text-md);
    font-weight: var(--weight-400);
}

.contato-info>p:last-child {
    font-size: var(--text-sm);
    border-top: 1px solid #FFFFFF33;
    padding-top: 48px;
    margin-top: 16px;
    width: 100%;
}

.contato-info>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contato-info>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: var(--text-xl);
}

.contato-info>ul>li>p {
    font-size: var(--text-base);
    font-weight: var(--weight-400);
    letter-spacing: 0.4px;
}

.contato-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--surface-white);
    padding: 48px;
    border-radius: var(--radius-default);
    width: 50%;
}

.contato-form>form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.contato-form>form>div:first-child {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.contato-form>form>div:first-child>div {
    width: 50%;
}

.contato-form>form>button {
    font-size: var(--text-md);
    font-weight: var(--weight-600);
    height: 60px;
}